<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.veganlefty.mapper.CityMapper">
    <!--void save()();-->
    <insert id="save">
        insert into city values (null,#{areaId},#{cityName},#{adcode},#{longitude},#{latitude},#{pid},#{type},#{cityLink})
    </insert>

    <select id="getByPidCityList" resultType='com.veganlefty.entity.City'>
        select * from city where pid = #{pid}
    </select>
</mapper>