<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.veganlefty.mapper.UserMapper">
    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="com.veganlefty.entity.User">
        select * from user
    </select>
</mapper>